@model Pension.Domain.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brithday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brithday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PINFLNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PINFLNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mahalla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mahalla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForTwoYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForTwoYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForFourteenYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForFourteenYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Support)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Support)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficialName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficialName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficialDisignation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficialDisignation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficialSignatrue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficialSignatrue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficialDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficialDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
